/* work sans font from google font  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared style */
* {
    font-family: "Work Sans", sans-serif;
    font-family: 'Open Sans' sans-serif;
    font-family: 'Lato', sans-serif;
}

.btn-primary {

    font-size: 1.4rem;
    font-weight: 600;
    width: 180px;
    height: 64px;

    border-radius: 8px;
}

/* Header styles */

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500px;



}

nav li a {
    text-decoration: none;
    color: #424242;
}

nav-title {

    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    color: #131313;


}

/* banner style */
.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {

    font-size: 4rem;
    font-weight: 700;


}

.banner-description {

    font-size: 1rem;
    font-weight: 400;


}